.outer {
  margin: auto;
  width: 110%;
  padding: 100px;
  display: block;
  justify-content: center; 
  align-items: center; 
  background-color: #b5c2c7 ;
  position: relative;
  top: 50%;
  left: 50%;
  bottom: 70%;
}

.border {
 background-color: #dfdbd8;
  width: 800px;
  height: 700px;
  text-align: center;
  width: 800px;
  padding: 90px;
  border: 1px solid;
  box-sizing: border-box;
  margin: auto;

}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

img {
  width: 900px;
  height: 700px;
  object-fit: cover;
}

.dark-rain {
  position: relative;
  top: 38%;
  left: 35%;
  width: 100%;
  font-size: 50px;
}

.card-title {
  text-align: center;
}

.degree {
  text-align: center;
  font-size: 30px;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.top {
  padding-top: 1em;
  font-size: 15px;
  color: #031316;
  font-family: 'Bebas Neue', cursive;
}

.class-group {
  height: 10rem;
  width: auto;
}

.card-text {
  text-align: center;
}

.rainy {
  text-align: center;
  display: block;
  top: 50%;
  right: 50%;
  width: 100%;
  font-size: 30px;
}

.flake {
  text-align: center;
  display: block;
  top: 50%;
  right: 50%;
  width: 100%;
  font-size: 30px;
}

sup {
  vertical-align: super;
  font-size: 5px;
}

.bottom {
  margin: auto;
  width: 70%;
  padding: 10px;
}


.icon{
  width: 32px;
  height: 32px;
}
#main-icon{
  width: 150px;
  height: 150px;
}

.content-wrapper {
  display: inline-block;
  vertical-align: middle;
  
}

.center-b {
  display: inline-block;
  vertical-align: middle;
 
}

.footer {
  position: relative;
  bottom: 80%;
  left: 65%;
 
}

.units {
  font-size: 15px;
 vertical-align: center;
  color: black
}